<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Add</button>
    <button type="button" class="btn btn-default">Delete</button>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Status</th>
        <th>CreateAt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let song of songs">
        <td><a [routerLink]="['/songs-detail', song.id]">{{song.name}}</a></td>
    </tr>
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" #chartsForm="ngForm" (ngSubmit)="searchItem(chartsForm.value)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="searchModalLabel">{{areaNames[areaNo]}} {{typeNames[typeNo]}} </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <label for="itemName">{{typeNames[typeNo]}} Name</label>
                        <input type="text" class="form-control" name="itemName" id="itemName" placeholder="name" title="name"
                               ngModel #itemName="ngModel" required maxlength="62"
                        >
                    </div>
                    <div *ngIf="itemName.errors && (itemName.dirty || itemName.touched)" class="alert alert-danger">
                        <div [hidden]="!itemName.errors.required">
                            Name is required
                        </div>
                        <div [hidden]="!itemName.errors.maxlength">
                            Name can not has more than 62 characters
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="singerName">Singer Name</label>
                        <input type="text" class="form-control" id="singerName" name="singerName" placeholder="singerName" title="singerName"
                               ngModel #singerName="ngModel" maxlength="32"
                        >
                    </div>
                    <div *ngIf="singerName.errors && (singerName.dirty || singerName.touched)" class="alert alert-danger">
                        <div [hidden]="!singerName.errors.maxlength">
                            Name can not has more than 32 characters
                        </div>
                    </div>
                    <p class="text-info">
                        Please key down press enter to search
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="!chartsForm.valid" data-dismiss="modal" (click)="updateChart(chartsForm.value)" class="btn btn-primary">
                    Done
                </button>
            </div>
        </form>
    </div>
</div>