<!--<h1>Hello {{title | uppercase}}</h1>-->
<!--<u10  ></u10>-->
<!--<input type="text" #textName (keyup)="0">-->
<!--<hr>-->
<!--<h2>U11</h2>-->
<!--<button (click)="changeName()" >Change Name</button>-->
<!--<div>-->
    <!--Agree: {{agree}} - -->
    <!--Disagree: {{disagree}}-->
<!--</div>-->
<!--<u11-->
        <!--*ngFor="let person of names"-->
        <!--[name]="person"-->
        <!--(onVote)="parentVote($event)"-->
<!--&gt;</u11>-->
<!--<hr>-->
<!--<h2>U14</h2>-->
<!--<u14></u14>-->
<!--<u15></u15>-->
<!--<home-component></home-component>-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="about">About</a>
                </li>
                <li>
                    <a routerLink="services">Services</a>
                </li>
                <li>
                    <a routerLink="contact">Contact</a>
                </li>
                <li><a routerLink="employees" routerLinkActive="active">Employees</a></li>
                <li><a routerLink="charts">Charts</a></li>
            </ul>
            <ul class="nav navbar-right">
                <li><a routerLinkActive routerLink="login"></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <router-outlet>
        </router-outlet>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </footer>

</div>