<h3 *ngIf="show">This is ngIf directive line.</h3>

<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">This line color is red</p>
    <p *ngSwitchCase="'blue'">This line color is blue</p>
    <p *ngSwitchCase="'green'">This line color is green</p>
    <p *ngSwitchCase="'black'">This line color is black</p>
    <p *ngSwitchDefault>This line color is white</p>
</div>

<ul>
    <li *ngFor="let value of colors">{{value | uppercase}}</li>
</ul>

<p [ngClass]="{classOne: cone, classTwo: ctwo}">This ngClass apply style</p>

<button [ngStyle]="{'font-style':style, 'font-size':size}" (click)="toggle(1)">Change class one</button>
<button (click)="toggle(2)">Change class two</button>