<div class="container" >
    <div class="col-lg-4 col-lg-push-4">
        <form class="form-signin" #formLogin="ngForm" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" ngModel id="inputEmail" class="form-control"
                       required autofocus #email="ngModel"
                >
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" ngModel id="inputPassword" class="form-control"
                       required #password="ngModel"
                >
            </div>
            <button (click)="CheckLogin(formLogin.value)" class="btn btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div> <!-- /container -->